{% extends "index.html" %}

{% block titulo %} Habitaciones {% endblock %}


{% block contenido %}  

<section class="rooms sec-width" id="rooms">
        <div class="title">
            <h2>Habitaciones</h2>
        </div>
        <div class="rooms-container">
            <article class="room">
                <div class="room-image">
                    <img src="{% static media/c7beb487b2b54736cfcb842d02463724.jpg  %}" >
                  
                </div>
                <div class="room-text">
                    <h3>Luxury Rooms</h3>
                    <ul>
                        <li>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium molestiae nulla nostrum libero esse in nemo, sed consectetur suscipit, fugiat vel saepe quibusdam! Repellat neque quae minus consectetur. Iure, delectus.
                        </li>
                        <li>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium molestiae nulla nostrum libero esse in nemo, sed consectetur suscipit, fugiat vel saepe quibusdam! Repellat neque quae minus consectetur. Iure, delectus.
                        </li>
                        <li>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium molestiae nulla nostrum libero esse in nemo, sed consectetur suscipit, fugiat vel saepe quibusdam! Repellat neque quae minus consectetur. Iure, delectus.
                        </li>
                    </ul>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur dicta quidem dolor cum, quos est alias. Repellendus rerum quidem accusantium architecto perferendis sapiente rem iusto illo. Aliquid optio aspernatur molestiae?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem labore dolores, itaque voluptatibus perspiciatis ducimus, aliquam deserunt cumque nemo doloremque harum! Sunt illum aperiam nam iusto labore maxime praesentium provident?</p>
                    <p class="rate">
                        <span>$10mil</span> la noche
                    </p>
                    <button type="button" class="btn">Reserva ahora!</button>
                </div>
            </article>

            <article class="room">
                <div class="room-image">
                    <img src="/hotel/static/media/The_Brehon_Hotel_Family_Suite_-_205_a.jpg" alt="Room image">
                </div>
                <div class="room-text">
                    <h3>Habitaciones familiares</h3>
                    <ul>
                        <li>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium molestiae nulla nostrum libero esse in nemo, sed consectetur suscipit, fugiat vel saepe quibusdam! Repellat neque quae minus consectetur. Iure, delectus.
                        </li>
                        <li>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium molestiae nulla nostrum libero esse in nemo, sed consectetur suscipit, fugiat vel saepe quibusdam! Repellat neque quae minus consectetur. Iure, delectus.
                        </li>
                        <li>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium molestiae nulla nostrum libero esse in nemo, sed consectetur suscipit, fugiat vel saepe quibusdam! Repellat neque quae minus consectetur. Iure, delectus.
                        </li>
                    </ul>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur dicta quidem dolor cum, quos est alias. Repellendus rerum quidem accusantium architecto perferendis sapiente rem iusto illo. Aliquid optio aspernatur molestiae?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem labore dolores, itaque voluptatibus perspiciatis ducimus, aliquam deserunt cumque nemo doloremque harum! Sunt illum aperiam nam iusto labore maxime praesentium provident?</p>
                    <p class="rate">
                        <span>$10mil</span> la noche
                    </p>
                    <button type="button" class="btn">Reserva ahora!</button>
                </div>
            </article>

            <article class="room">
                <div class="room-image">
                    <img src="/hotel/static/media/c56a0c0d-8454-431a-9b3e-f420c72e82e3.jpg" alt="Room image">
                </div>
                <div class="room-text">
                    <h3>Habitaciones para uno</h3>
                    <ul>
                        <li>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium molestiae nulla nostrum libero esse in nemo, sed consectetur suscipit, fugiat vel saepe quibusdam! Repellat neque quae minus consectetur. Iure, delectus.
                        </li>
                        <li>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium molestiae nulla nostrum libero esse in nemo, sed consectetur suscipit, fugiat vel saepe quibusdam! Repellat neque quae minus consectetur. Iure, delectus.
                        </li>
                        <li>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium molestiae nulla nostrum libero esse in nemo, sed consectetur suscipit, fugiat vel saepe quibusdam! Repellat neque quae minus consectetur. Iure, delectus.
                        </li>
                    </ul>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur dicta quidem dolor cum, quos est alias. Repellendus rerum quidem accusantium architecto perferendis sapiente rem iusto illo. Aliquid optio aspernatur molestiae?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem labore dolores, itaque voluptatibus perspiciatis ducimus, aliquam deserunt cumque nemo doloremque harum! Sunt illum aperiam nam iusto labore maxime praesentium provident?</p>
                    <p class="rate">
                        <span>$5mil</span> la noche
                    </p>
                    <button type="button" class="btn">Reserva ahora!</button>
                </div>
            </article>
        </div>
</section>

{% endblock %}