{% extends "index.html" %}

{% block titulo %} Inicio {% endblock %}


{% block contenido %}  

<div class="main-head">
    <div class="banner-text">
        <h1><span>Hotel Veranum</span></h1>
        <h2>Nuestro hotel es el mejor del pais</h2>
        <h3>Tenemos 5 estrellas</h3>
    </div>
    <div class="btn" id="btn1">
        <button>Reservar cuarto</button>
    </div>
</div>

<div class="container">
    <div class="box box1">
        <h1>Nuestros servicios</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sunt debitis totam consequatur repudiandae amet dignissimos recusandae! Recusandae culpa consectetur accusamus dicta nostrum, sed sapiente molestiae. Temporibus, enim. Aperiam, totam!</p>
        
        <div class="btn1">
            <button>Ver mas</button>
        </div>
    </div>

    <div class="box box2">
        <h1>Habitaciones</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sunt debitis totam consequatur repudiandae amet dignissimos recusandae! Recusandae culpa consectetur accusamus dicta nostrum, sed sapiente molestiae. Temporibus, enim. Aperiam, totam!</p>
        
        <div class="btn2">
            <button>Ver mas</button>
        </div>
    </div>

    <div class="box box3">
        <h1>Mas Servicios</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sunt debitis totam consequatur repudiandae amet dignissimos recusandae! Recusandae culpa consectetur accusamus dicta nostrum, sed sapiente molestiae. Temporibus, enim. Aperiam, totam!</p>
        
        <div class="btn3">
            <button>Ver mas</button>
        </div>
    </div>
</div>

<div class="container-2">
    <div class="content">
        <h1>Clientes felices</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptatibus laborum assumenda voluptates aperiam provident? Tempora voluptatum, quidem neque ratione, autem sed aperiam, in libero obcaecati natus non eveniet distinctio.</p>
    </div>
</div>

<div class="container-3">

</div>

<div class="contact-box">
    <h2>Contacto</h2>
    <div class="form">
        <input type="text" placeholder="Name">
        <br>
        <input type="text" placeholder="E-mail">
        <br>
        <input type="text" placeholder="Subject">
        <br>
    </div>
    <button>Submit</button>
</div>

{% endblock %}